<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ED Life Analysis Solutions</title>


<script src="javascript/jquery-3.4.1.min.js"></script>




  <script src="https://kit.fontawesome.com/746df76887.js" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<link type="text/css" href="stylesheets/styles.css" rel="stylesheet">
</head>

<body>

  <section id="floating-newsfeed-container"></section>
  <section id="floating-goalfeed-container"></section>

  <nav>

    <section id="dashboard" class="tab selected-tab" data-tab="dashboard">
      <svg
        height="0.5rem"
        viewBox="0 0 625 209"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path
        d="M617.277,207.954l-609.078,-0.387c-6.859,0.179 -7.375,-1.597 -7.572,-8.161l0.705,-153.469c0.117,-46.238 -5.429,-42.627 48.68,-42.82l448.388,-1.698c19.591,0 36.882,11.438 47.114,28.829l77.975,167.74c0.877,1.904 2.672,10.129 -6.212,9.966Z"
        style="fill:#0c0e1c;stroke:#0c0e1c;stroke-width:0px;"/>
        <text x="100px" y="130px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:3rem;fill:#fff;">Dashboard</text>
      </svg>
    </section>

    <section id="entry" class="tab unselected-tab" data-tab="entry">
      <svg
        height="0.5em"
        viewBox="0 0 625 209"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path
        d="M617.277,207.954l-609.078,-0.387c-6.859,0.179 -7.375,-1.597 -7.572,-8.161l0.705,-153.469c0.117,-46.238 -5.429,-42.627 48.68,-42.82l448.388,-1.698c19.591,0 36.882,11.438 47.114,28.829l77.975,167.74c0.877,1.904 2.672,10.129 -6.212,9.966Z"
        style="fill:#343874;stroke:#0c0e1c;stroke-width:0px;"/>
        <text x="100px" y="130px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:3rem;fill:#fff;">Log Entry</text>
      </svg>
    </section>

    <section id="settings" class="tab unselected-tab" data-tab="settings">
      <svg
        height="0.5rem"
        viewBox="0 0 625 209"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path
        d="M617.277,207.954l-609.078,-0.387c-6.859,0.179 -7.375,-1.597 -7.572,-8.161l0.705,-153.469c0.117,-46.238 -5.429,-42.627 48.68,-42.82l448.388,-1.698c19.591,0 36.882,11.438 47.114,28.829l77.975,167.74c0.877,1.904 2.672,10.129 -6.212,9.966Z"
        style="fill:#424799;stroke:#0c0e1c;stroke-width:0px;"/>
        <text x="100px" y="130px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:3rem;fill:#fff;">Settings</text>
      </svg>
    </section>

    <section id="account">
      <i class="fas fa-bell"></i>
      <i class="fas fa-user"></i>
      <svg id="logo"
        height="0.5rem"
        viewBox="0 0 4445 3334"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g style="fill:rgba(255, 255, 255, 0.3);stroke:#fff;stroke-width:2rem;">
          <path d="M3439.04,1144.46C3530.73,879.339 3629.42,568.737 3730.94,248.704C3779.26,195.029 3809.18,203.865 3830.34,242.492C3816.12,801.596 3819.11,1497 3901.34,1928.27C4093.36,1825.64 4095.78,1308.93 4095.78,1308.93C4107.38,1443.93 4135.88,1836.12 3929.93,2014.08C4005.85,2365.55 4123.28,2474.88 4358.39,2162.12C4227.03,2467.04 4003.94,2520.73 3845.97,2063.04C3644.74,2156.62 3376.83,2144.64 3141.9,2008.34C2955.89,2342.29 2644.46,2512.03 2453.67,2457.58C1670.44,2234.07 2893.27,1057.62 2761.81,1963.32C2820.48,1457 2317.27,1820.59 2326.2,2066.69C2337.11,2367.29 2725.69,2538.03 3084.53,1960.89C3064.88,1942.57 3046.34,1922.9 3029.04,1901.87C2750.59,1563.3 3006.22,907.685 3439.04,1144.46ZM3811.71,1978.74C3726.3,1703.71 3669.29,1276.82 3675.03,664.933C3619.46,844.148 3561.93,1018.84 3502.54,1184.29C3565.41,1228.71 3631.94,1290.29 3701.35,1372C3625.68,1299.87 3556.14,1247.63 3492.68,1211.65C3399.07,1469.95 3291.3,1721.62 3189.18,1914.42C3374.58,2061.08 3616.39,2088.5 3811.71,1978.74ZM3426.99,1179.13C3146.44,1061.3 3002.98,1280.53 2992.34,1448.26C2978.45,1667.22 3035.45,1785.41 3127.81,1867.3C3171.8,1790.87 3231.03,1687.14 3273.53,1586.17C3321.6,1471.99 3373.04,1333.8 3426.99,1179.13Z"/>
          <path
          d="M2314.14,1044.14L2314.15,1044.11C2625.29,310.99 2737.43,340.176 2849.39,346.497C3173.79,427.768 2961.23,718.783 2590.28,944.577L2590.27,944.603C2404.17,1377.51 2096.96,2008.35 1680.63,2361.55C1680.63,2361.55 1969.76,2521.49 2048.44,2570.58C2535.85,2874.69 3146.35,2825 3365.02,2744.48C3308.31,2800.65 2978.47,2904.66 2725.13,2891.62C2403.81,2875.07 2181.26,2815.5 1842.98,2595.38C1754.09,2542.35 1668.61,2494.3 1588.36,2453.86C1480.21,2500.55 1287.39,2604.19 1167.57,2633.33C797.785,2723.26 703.735,2147.92 1259.02,2210.21C1374.56,2223.17 1438.98,2258.14 1552.79,2304.8C1744.67,2136.54 1980.88,1847.47 2162.85,1420.79C2209.47,1299.3 2252.54,1191.44 2292.46,1095.69C2023.53,1207.37 1728.53,1266.09 1502.84,1202.61C1781.8,1256.59 2072.71,1173.09 2314.14,1044.14ZM1444.23,2387.55C1359.02,2352.71 1282.52,2330.56 1217.67,2325.36C1017.64,2299.29 910.086,2534.03 1159.62,2527.04C1222.67,2512.67 1324.1,2471.48 1444.23,2387.55ZM2646.05,815.541L2646.27,815.354C2810.54,670.927 2900.2,529.372 2861.81,470.744C2804.69,471.817 2736.02,609.838 2646.05,815.541Z"/>
          <path
          d="M1126.65,1046.89C831.678,663.753 1299.11,488.001 1638.76,597.147C1879.01,709.144 1649.24,874.995 1292.61,1039.16C1292.61,1039.16 1295.59,1037.81 1292.61,1039.16C1333.85,1094.42 1383.55,1115.88 1482.92,1193.97C-299.358,2425.59 1477.25,3794.95 2068.15,2417.12C1451.81,4083.74 -442.901,2347.49 1255.31,1182.68C1223.75,1154.39 1195.99,1126.98 1171.78,1100.45L1171.77,1100.46C1170.44,1101.06 -124.738,1660.85 372.838,2084.58C-284.29,1711.73 326.927,1269.27 841.58,1145.12C950.784,1118.78 1036.12,1081.81 1126.65,1046.89L1126.65,1046.89ZM1262.21,989.481C1689.77,798.319 1638.76,597.147 1406.58,707.321C1253.66,785.143 1212.91,885.951 1262.2,989.455L1262.21,989.481Z"/>
        </g>
        </svg>
    </section>
  </nav>

  <main>

    <section id="dashboard-container" class="container">

      <div id="chart"></div>

      <section id="user-media">
        <span id="user-media-title" class="dashboard-title">Newsfeed</span>
        <section id="newsfeed">
          <span class="text-post post">This is a test entry to log. Here you can makes notes and 'tag' people who 'follow' you to give them a notification.</span>
          <span class="image-post post">
            <img src="https://i.redd.it/h3oyl5lx4z531.jpg" />
          </span>
          <span class="image-text-post post">
            <img src="https://preview.redd.it/fd24k6t5ovi31.jpg?width=640&crop=smart&auto=webp&s=3148db8f1c59f06045c8144c7442b4868fe1b678" />
            My mom makes me feel like this every time I eat with her. Like I don't known that it isn't the healthiest.
          </span>
        </section>
      </section>

      <section id="goals">
        <span id="goalfeed-title" class="dashboard-title">Goals</span>
        <!-- <i class="fas fa-filter"></i> -->
        <section id="goalfeed">
          <article class="goal">
            <p class="goal-text">
              This is a test goal to see how a goal will look.
            </p>
            <em>Set by</em> <span class="author">Carson</span> <em>on</em> <span class="goal-date">May 20, 2019</span>
          </article>
        </section>
      </section>

    </section>


    <section id="entry-container" class="container">
      <section id="chart-entry-container">
        <section class="swiper-container">
          <section class="swiper-wrapper">
            <section id="weight-entry-container" class="chart-feature swiper-slide" data-visibility="">
              Weight Entry
            </section>
            <section id="calorie-entry-container" class="chart-feature swiper-slide" data-visibility="">
              <section id="calorie-entry-input-container">
                <label class="chart-title" for="entry-calories">Calories</label>
                <span class="entry-input-directions">
                  Enter the calories since the start of the day or since your last entry.
                </span>

                <input id="calories-input" class="contact-input" type="text" name="entry-calories" placeholder="Enter amount" value=""> <span class="entry-input-units">cals</span>
              </section>
              <section id="calorie-search-container" data-visibility="" class="">
                <label class="chart-title" for="entry-food-search">Food Search</label>
                <span class="entry-input-directions">
                  Enter a food to retrieve its infostats.
                </span>

                <input id="food-search-input" class="contact-input" type="text" name="entry-food-search" placeholder="What did you eat?">
              </section>
            </section>
            <section id="feelings-entry-container" class="chart-feature swiper-slide" data-visibility="">
              Feelings
            </section>
            <section id="exercise-entry-container" class="chart-feature swiper-slide" data-visibility="">
              Exercise
            </section>
            <section id="water-entry-container" class="chart-feature swiper-slide" data-visibility="">
              Water
            </section>
            <section id="sleep-entry-container" class="chart-feature swiper-slide" data-visibility="">
              Sleep
            </section>
        </section>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>



      </section>


      </section>

      <section id="newsfeed-post-container">
        Newsfeed Post Container: Make a post
      </section>

      <section id="goal-reflection-container">
        Goal reflection container: Reflect on a goal
      </section>

    </section>


    <section id="settings-container" class="container">
      <section class="setting">

        <section id="account-settings-container">
          <section id="account-settings-profile">
            <span class="setting-title">Account Settings</span>

            <span class="setting-subtitle">Contact Infomation</span>
            <form id="contact-form"name="contact">

              <label class="setting-sub-subtitle" for="name">Name: </label>
              <input id="name-input" class="contact-input" type="text" name="name" placeholder="Name" value="Carson Stevens">
              <br />

              <label class="setting-sub-subtitle" for="prefered-name">Prefered Name: </label>
              <input id="pname-input" class="contact-input" type="text" name="prefered-name" placeholder="Name you prefer to be called by" value="Carson">
              <br />

              <label class="setting-sub-subtitle" for="email">Email: </label>
              <input id="email-input" class="contact-input" type="text" name="email" value="stevenscarson5@gmail.com" disabled>
              <br />

              <input id="contact-form-submit-input" type="submit" value="Save">
            </form>
          </section>

          <section id="account-settings-theme">
            <span class="setting-subtitle">Dashboard Themes</span>
            <section id="theme-container">
              <section class="theme">
                <span class="theme-color" data-selected="true" style="background-color: #1c1f3f"></span>
                <span class="theme-color" style="background-color: #343874"></span>
                <span class="theme-color" style="background-color: #424799"></span>
                <span class="theme-color" style="background-color: rgba(255, 255, 255, 0.7)"></span>
              </section>
            </section>
          </section>

          <section id="account-settings-qr">
            <span class="setting-subtitle">Account QR Code</span>
            <img id="user-qr-code-img" src="https://miro.medium.com/max/1424/1*sHmqYIYMV_C3TUhucHrT4w.png" alt="user qr code" />
          </section>

          <section id="account-settings">
            <span class="setting-subtitle">Monitor Settings</span>
            <section id="account-setting-container">
              <section class="account-setting">
                <span class="setting-sub-subtitle">Give Control to Medical Team: </span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-monitor-control" type="checkbox" class="switch__input">
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
              <section class="account-setting">
                <span class="setting-sub-subtitle">Weight</span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-weight-control" type="checkbox" class="switch__input">
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
              <section class="account-setting">
                <span class="setting-sub-subtitle">Feelings: </span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-feelings-control" type="checkbox" class="switch__input">
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
              <section class="account-setting">
                <span class="setting-sub-subtitle">Calories: </span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-calories-control" type="checkbox" class="switch__input">
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
              <section class="account-setting">
                <span class="setting-sub-subtitle">Exercise: </span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-exercise-control" type="checkbox" class="switch__input">
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
              <section class="account-setting">
                <span class="setting-sub-subtitle">Water: </span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-water-control" type="checkbox" class="switch__input">
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
              <section class="account-setting">
                <span class="setting-sub-subtitle" >Sleep: </span>
                <section class="switch toggle">
                  <label class="switch__label">
                    <input id="account-sleep-control" type="checkbox" class="switch__input" disabled>
                    <span class="switch__design"></span>
                  </label>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>


      <section class="setting" id="settings-privacy">
        <span class="setting-title">Privacy Settings</span>
        <section id="settings-privacy-medical">
          <span class="settings-subtitle">Medical Team Members</span>
        </section>
        <section id="settings-privacy-family">
          <span class="settings-subtitle">Family Members</span>
        </section>
        <section id="settings-privacy-other">
          <span class="settings-subtitle">Other Support</span>
        </section>
      </section>


      <section class="setting">
        <span class="setting-title">Chart Settings</span>
      </section>
    </section>

  </main>

  <section>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="javascript/charts.js"></script>
    <script src="javascript/navigation.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="javascript/entry-log.js"></script>
  </section>

</body>

</html>
