<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ED Life Analysis Solutions</title>
  <link type="text/css" href="stylesheets/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/746df76887.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <nav>
      <div id="dashboard" class="tab">
        <svg
          height="0.5rem"
          viewBox="0 0 150 50"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path
          d="M148.146,49.909L1.968,49.816C0.321,49.859 0.198,49.433 0.151,47.858L0.32,2.025C0.34,0.928 0.517,0.293 2.003,0.248L119.616,0.34C124.318,0.34 128.468,3.086 130.923,7.26L149.637,47.517C149.848,47.974 150.279,49.948 148.146,49.909Z"
          style="fill:rgba(0,0,0,0.5);stroke:#fff;stroke-width:0.21px;"/>
          <text x="2.06px" y="32.017px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:1rem;fill:#fff;">Dashboard</text>
        </svg>
      </div>
      <div id="entry" class="tab">
        <svg
          height="0.5rem"
          viewBox="0 0 150 50"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path
          d="M148.146,49.909L1.968,49.816C0.321,49.859 0.198,49.433 0.151,47.858L0.32,2.025C0.34,0.928 0.517,0.293 2.003,0.248L119.616,0.34C124.318,0.34 128.468,3.086 130.923,7.26L149.637,47.517C149.848,47.974 150.279,49.948 148.146,49.909Z"
          style="fill:rgba(0,0,0,0.5);stroke:#fff;stroke-width:0.21px;"/>
          <text x="2.06px" y="32.017px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:1rem;fill:#fff;">Log Entry</text>
        </svg>
      </div>
      <div id="settings" class="tab">
        <svg
          height="0.5rem"
          viewBox="0 0 150 50"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path
          d="M148.146,49.909L1.968,49.816C0.321,49.859 0.198,49.433 0.151,47.858L0.32,2.025C0.34,0.928 0.517,0.293 2.003,0.248L119.616,0.34C124.318,0.34 128.468,3.086 130.923,7.26L149.637,47.517C149.848,47.974 150.279,49.948 148.146,49.909Z"
          style="fill:rgba(0,0,0,0.5);stroke:#fff;stroke-width:0.21px;"/>
          <text x="2.06px" y="32.017px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:1rem;fill:#fff;">Settings</text>
        </svg>
      </div>
      <div id="account">
        <i class="fas fa-bell"></i>
        <i class="fas fa-user"></i>
        <!-- <svg src="images/tab.svg" id="logo"></svg> -->
      </div>
    </nav>
    <div id="chartdiv"></div>
  </main>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="javascript/charts.js"></script>
</body>

</html>
